/* SCSS HEX */
$black: #1f1f1f;
$charcoal: #2f4550ff;
$dark-electric-blue: #586f7cff;
$powder-blue: #b8dbd9ff;
$ghost-white: #f4f4f9ff;

$disabled-color: #888888;

$digi-color: #0577c4;
$orange-color: #ffa500;
$vodafone-color: #ff0000;

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #000000ff, #2f4550ff, #586f7cff, #b8dbd9ff, #f4f4f9ff);
$gradient-right: linear-gradient(90deg, #000000ff, #2f4550ff, #586f7cff, #b8dbd9ff, #f4f4f9ff);
$gradient-bottom: linear-gradient(180deg, #000000ff, #2f4550ff, #586f7cff, #b8dbd9ff, #f4f4f9ff);
$gradient-left: linear-gradient(270deg, #000000ff, #2f4550ff, #586f7cff, #b8dbd9ff, #f4f4f9ff);
$gradient-top-right: linear-gradient(45deg, #000000ff, #2f4550ff, #586f7cff, #b8dbd9ff, #f4f4f9ff);
$gradient-bottom-right: linear-gradient(135deg, #000000ff, #2f4550ff, #586f7cff, #b8dbd9ff, #f4f4f9ff);
$gradient-top-left: linear-gradient(225deg, #000000ff, #2f4550ff, #586f7cff, #b8dbd9ff, #f4f4f9ff);
$gradient-bottom-left: linear-gradient(315deg, #000000ff, #2f4550ff, #586f7cff, #b8dbd9ff, #f4f4f9ff);
$gradient-radial: radial-gradient(#000000ff, #2f4550ff, #586f7cff, #b8dbd9ff, #f4f4f9ff);


$border-radius-value: 3px;