.books-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    column-gap: 15px;
    row-gap: 15px;

    .book__item {
        padding: 10px;
        position: relative;
        border-radius: $border-radius-value;
        transition: all 0.3s ease-in-out;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        height: 350px;
        
        &:after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            width: 100%;
            height: 100%;
            box-shadow: 0 1px 2px rgba(0,0,0,0.07), 
                        0 2px 4px rgba(0,0,0,0.07), 
                        0 4px 8px rgba(0,0,0,0.07), 
                        0 8px 16px rgba(0,0,0,0.07),
                        0 16px 32px rgba(0,0,0,0.07), 
                        0 32px 64px rgba(0,0,0,0.07);

            opacity: 0;
            transition: opacity 0.3s ease-in-out;
            border-radius: $border-radius-value;
            transition: opacity 0.3s ease-in-out;
        
        }
        
        &:hover:after {
            opacity: 1;
        }


        .book__image {
            width: 100%;
            height: 200px;

            padding: 10px;

            display: flex;
            justify-content: center;
            align-items: center;


            &.not-in-stock {
                img {
                    filter: grayscale(100%);
                }
            }

            .discount__amount {
                font-size: 14px;
                position: absolute;
                top: 0;
                right: 0;
                z-index: 1;
                border-top-right-radius: $border-radius-value;
                padding: 5px;
                background-color: red;
                color: $ghost-white;
                font-style: italic;
                font-weight: 600;
            }


            img {
                max-width: 100%;
                max-height: 100%;
            }
        }

        .book__title {
            text-align: center;

            .link {
                font-weight: bold;
                color: $black;
                text-decoration: none;
            }
        }


        .book_authors {

            text-align: center;
            // display: flex;
            
            // justify-content: center;
            // align-items: center;

            .author {
                font-size: 12px;

                // &:after {
                //     content: '|';
                //     margin: 0 3px;
                // }

                // &:last-of-type:after {
                //     content: '';
                //     margin: 0;
                // }
            }
        }

        .book__price {
            padding: 10px;

            .original__price {
                font-size: 18px;
                font-weight: bold;
                color: $dark-electric-blue;
            
            }

            .price__discount {
                .original__price {
                    text-decoration: line-through;
                    font-size: 14px;
                    color: lighten($dark-electric-blue, 40);
                    text-align: center;
                }

                .discounted__price {
                    font-size: 18px;
                    color: red;
                    font-weight: bold;
                }
            }
        }

        .book__action {
            .stock__status {
                font-size: 14px;
                font-weight: bold;
                padding: 10px;
            }

            .stock__empty {
                color: #d81313;
            }
        }
           
    }
}

.see__more {
    width: 100%;
    padding: 10px;
    text-align: right;
}