.breadcrumb {
    width: 100%;

    display: flex;
    justify-content: flex-start;
    align-items: center;

    padding: 15px 0 15px 10px;


    .breadcrumb-item {
        font-size: 14px;
        
        &:before {
            content: '>';
            margin: 0 5px;
            color: $dark-electric-blue;
            
        }

        &:first-of-type:before {
            margin: 0;
            content: '';
        }

        &.active {
            color: $charcoal;
            font-weight: 600;

            &:before {
                font-weight: 600;
            }
        }
    }
    
    
}