.dropdown {    
    
    .dropdown__header {
        display: flex;
        justify-content: space-around;
        align-items: center;

        min-width: 150px;

        a {
            font-size: 14px;
            display: block;
            color: $dark-electric-blue;

            text-decoration: none;
        }
    }

    .dropdown__content {
        display: none;
        width: 100%;

        cursor: default;
        
        .content__item {
            font-size: 14px;
            
            text-align: center;
            margin: 10px 0;

            .content__link {
                display: block;
                height: 100%;
                width: 100%;
                padding: 10px 0;
            }
        }
    }


    &.user-dropdown {

        position: absolute;
        right: 120px;
        top: 84px;

        z-index: 1;

        background-color: $ghost-white;
 
        border-bottom-right-radius: $border-radius-value;
        border-bottom-left-radius: $border-radius-value;

        box-shadow: 0 1px 1px rgba(0,0,0,0.25), 
                0 2px 2px rgba(0,0,0,0.20), 
                0 4px 4px rgba(0,0,0,0.15), 
                0 8px 8px rgba(0,0,0,0.10),
                0 16px 16px rgba(0,0,0,0.05);

        .dropdown__header {     
            height: 45px;
            padding: 10px 0;

            &:hover {
                cursor: pointer;
            }
        }

        .dropdown__content {

            .button {
                width: 100%;
                font-size: 14px;
            }

            .content__item {
                margin: 5px 0;

                &:first-of-type{
                    margin-top: 0;
                    
                    .link {
                        padding: 13px 0;
                    }
                }
            }
        }
    }

    &.categories-dropdown {
        position: relative;
        

        .dropdown__header {
            img {
                display: flex;
                align-items: center;
                height: 17px;
                width: 17px;
            }
        }

        .dropdown__content {
            position: absolute;
            top: 40px;
            left: 0;
            width: 390px;
            z-index: 2;
            
            max-height: 250px;
            overflow-y: auto;

            background-color: $ghost-white;
            box-shadow: 0 1px 1px rgba(0,0,0,0.25), 
            0 2px 2px rgba(0,0,0,0.20), 
            0 4px 4px rgba(0,0,0,0.15), 
            0 8px 8px rgba(0,0,0,0.10),
            0 16px 16px rgba(0,0,0,0.05);


            &.categories__list {

                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;
                flex-wrap: wrap;

                .content__link {
                    padding: 0;
                    padding-left: 10px;
                    text-align: left;
                    width: 100%;
                }
            }

        }
        

    }
    
}


