.link {
    color: $dark-electric-blue;
    text-decoration: none;
}

.link:hover {
    cursor: pointer;
    text-decoration: underline;
    color: $charcoal;
}

.link--logo {
    padding: 10px;
    color: $ghost-white;
}

.link--logo:hover {
    text-decoration: none;
    color: $powder-blue;
}


.dashboard-link {
    background-color: #ff4500;
    color: $ghost-white;

    &:hover {
        text-decoration: none;
        color: $black;
        
    }
}
