.main-nav {
    width: 100%;
    background-color: $dark-electric-blue;
    display: flex;
    justify-content: center;
    align-items: center;
    
    .main-nav__list {
        width: 25%;
        background-color: transparent;
        justify-content: space-between;

        .main-nav__item {
            
            height: 100%;

            border-bottom: 3px solid transparent;

            &:hover {
                cursor: pointer;
                background-color: $charcoal;
                border-bottom: 3px solid $powder-blue;
            }

            .main-nav-link {
                font-size: 17px;
                display: flex; 
                align-items: center;
    
                height: 100%;
                width: 100%;

                padding: 10px;

                // padding: 10px 20px;
                color: $ghost-white;
                text-decoration: none;
            }           
        }
    }
}