.main-nav {
    position: relative;
    // top: 0;
    // left: 0;
    
    // z-index: 2;

    // margin-top: 84px;
    
    width: 100%;
    background-color: $dark-electric-blue;
    display: flex;
    justify-content: center;
    align-items: center;
    
    .main-nav__list {
        // width: 25%;
        background-color: transparent;
        justify-content: space-between;
        column-gap: 12px;

        .main-nav__item {
            
            height: 100%;

            border-bottom: 3px solid transparent;

            &:hover {
                cursor: pointer;
                background-color: $charcoal;
                border-bottom: 3px solid $powder-blue;
            }

            .main-nav-link {
                display: block;

                font-size: 17px;
                display: flex; 
                align-items: center;
    
                height: 100%;
                width: 100%;

                padding: 10px;

                // padding: 10px 20px;
                color: $ghost-white;
                text-decoration: none;
            }           
        }
    }
}


.side-nav {
    min-width: 150px;
    flex: 0 1 200px;
    height: 100%;

    background-color: $charcoal;

    border-left: 1px solid $black;
    
    .side-nav__list {


        .side-nav__item {
            .item__link {
                display: block;
                width: 100%;
                padding: 20px 0 20px 10px;     
                text-decoration: none;
    
                color: $ghost-white;
    
                &:hover,
                &.item__link--selected {
                    color: $charcoal;
                    background-color: $ghost-white;
                }
            }
    
            .item__sub-menu {
                margin-left: 10px;
                border-left: 2px solid $ghost-white;
                font-size: 14px;
    
                .item__link {
                    padding: 10px 0 10px 20px;
                }
            }


            &:last-of-type {
                margin-bottom: 25px;
            }
        }
        
    }

}