@import url(https://fonts.googleapis.com/css2?family=Courgette&family=Roboto:ital,wght@0,300;

0,400;0,500;1,300;1,400&display=swap);/* SCSS HEX */

/* SCSS Gradient */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  font-family: "Roboto", sans-serif;
}

header .link--logo {
  font-family: "Courgette", cursive;
  font-size: 24px;
}

.button {
  background-color: transparent;
  border: none;
  border-radius: 3px;
  padding: 5px 10px;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button:hover {
  cursor: pointer;
}

.button:active {
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.5);
}

.button-primary {
  background: #2f4550ff;
  color: #f4f4f9ff;
}

.button--disabled {
  pointer-events: none;
  background: #888888;
}

.link {
  color: #586f7cff;
  text-decoration: none;
}

.link:hover {
  cursor: pointer;
  text-decoration: underline;
  color: #2f4550ff;
}

.link--logo {
  padding: 10px;
  color: #f4f4f9ff;
}

.link--logo:hover {
  text-decoration: none;
  color: #b8dbd9ff;
}

.list {
  margin: 0;
  padding: 0;
}

.list-horizontal {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.search-bar {
  width: 500px;
  position: relative;
}

.search-bar .search-bar__form {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: stretch;
}

.search-bar .search-bar__form .search-bar__input {
  flex: 1 0 auto;
  border: none;
  border-radius: 3px;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  padding: 5px 10px;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.5);
}

.search-bar .search-bar__form .search-bar__input.search-bar--results {
  border-bottom-left-radius: 0;
}

.search-bar .search-bar__form .search-bar__button {
  flex: 0 0 50px;
  height: 26px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.search-bar .search-bar__results {
  position: absolute;
  left: 0;
  top: 26px;
  width: 430px;
  padding: 10px;
  background-color: #f4f4f9ff;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), 0 2px 2px rgba(0, 0, 0, 0.15), 0 4px 4px rgba(0, 0, 0, 0.15), 0 8px 8px rgba(0, 0, 0, 0.15);
}

.search-bar .search-bar__results .result {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid #d6d6d6;
  font-size: 14px;
}

.search-bar .search-bar__results .result:last-of-type {
  border-bottom: 0;
}

.search-bar .search-bar__results .result .result__title {
  text-decoration: none;
}

.search-bar .search-bar__results .result .result__author {
  max-width: 60%;
  flex-wrap: wrap;
  margin-right: 3px;
}

.search-bar .search-bar__results .result .result__author:last-of-type {
  margin-right: 0;
}

.search-bar .search-bar__results .result .result__author::after {
  content: ",";
}

.search-bar .search-bar__results .result .result__author:last-of-type::after {
  content: "";
}

.search-bar .search-bar__results .result .result__author .link {
  text-decoration: none;
  color: #2f4550ff;
  font-size: 11px;
}

.search-bar .search-bar__results .result .result__author .link:hover {
  color: #1f1f1f;
}

.search-bar .search-bar__results .result .result__price {
  font-weight: 600;
  font-size: 13px;
}

.cart {
  position: absolute;
  right: 50px;
  top: 27px;
  background-color: #f4f4f9ff;
  border-radius: 3px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.cart .cart__button {
  position: relative;
}

.cart .cart__button .button__count {
  position: absolute;
  top: -7px;
  right: -7px;
  padding: 2px 4px;
  border-radius: 99999999px;
  background-color: #ff4500;
  color: #ffffff;
  font-size: 13px;
  font-family: inherit;
}

.cart .cart__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
}

.cart .cart__header div {
  font-weight: 600;
}

.cart .items__list {
  width: 400px;
}

.cart .items__list .item {
  width: 100%;
  font-size: 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cart .items__list .item div {
  text-align: right;
  margin: 0 5px;
}

.cart .items__list .item .title {
  flex: 0 0 170px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.cart .items__list .item .quantity {
  flex: 0 0 50px;
  text-align: center;
}

.cart .items__list .item .price {
  font-weight: 600;
  flex: 0 0 100px;
}

.cart .order-form {
  display: flex;
  justify-content: center;
  padding: 10px 0;
}

.cart .order-form .cart__button-order {
  font-size: 14px;
  width: 75%;
}

.cart--active {
  padding: 10px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), 0 2px 2px rgba(0, 0, 0, 0.15), 0 4px 4px rgba(0, 0, 0, 0.15), 0 8px 8px rgba(0, 0, 0, 0.15);
}

header {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  background-color: #1f1f1f;
}

header a {
  flex: 2;
}

