header {
    flex: 0;

    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 20px 0;
    background-color: $black;

    a {
        flex: 2;
    }
}