.home {
    .books-list {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        column-gap: 15px;
        row-gap: 15px;

        .book {
            padding: 10px;
            position: relative;
            border-radius: $border-radius-value;
            transition: all 0.3s ease-in-out;

            &:after {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                z-index: -1;
                width: 100%;
                height: 100%;
                box-shadow: 0 1px 2px rgba(0,0,0,0.07), 
                            0 2px 4px rgba(0,0,0,0.07), 
                            0 4px 8px rgba(0,0,0,0.07), 
                            0 8px 16px rgba(0,0,0,0.07),
                            0 16px 32px rgba(0,0,0,0.07), 
                            0 32px 64px rgba(0,0,0,0.07);

                opacity: 0;
                transition: opacity 0.3s ease-in-out;
                border-radius: $border-radius-value;
                transition: opacity 0.3s ease-in-out;
            
            }
            
            &:hover:after {
                opacity: 1;
                
            }
               
        }
    }
}