.date {
    padding: 10px;
    margin: 5px;

    & .text {
        font-weight: 600;
        width: 50px;
    }

    & .text::before {
        content: '|';
        margin: 0 5px;
    }

    & .text:first-of-type::before{
        content: '';
       
    }

}
