.view {
    width: 65%;
    min-width: 600px;
    // border: 1px solid red;
    
    flex: 1 0 600px;

    display: flex;
    justify-content: stretch;
    align-items: flex-start;

    .view__content {
        padding: 25px;
        width: 100%;
    }
}