.view {
    margin-top: 124px;
    width: 65%;
    min-width: 600px;
    
    flex: 1 0 600px;

    display: flex;
    justify-content: stretch;
    align-items: flex-start;

    .view__content {
        padding: 25px;
        width: 100%;
    }

    .view__content--center {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        div {
            margin: 5px 0;
        }
    }

    .view__action {
        margin-top: 31px;
        padding-top: 15px;

        border-top: 1px dotted $dark-electric-blue;
    }
}